/***** Basic settings ********/

html, body {
    height: 100%;
    margin: 0;
}

body {
    line-height: 1.4;
    font-family: Arial, Tahoma, Sans-Serif;
}
ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h2 {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    /*display: inline-block;*/
    width: 100%;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

/*****              ******/

/* Header top */
.main-header {
    margin-bottom: 30px;
}
.header-top {
    display: flex;
    min-height: 38px;
    justify-content: space-between;
    max-width: 1180px;
    margin-top: 5px;
}
.socials {
    display: flex;
    height: 38px;
    margin-left: 8px;
    align-items: center;
}
.socials__icon {
    height: 25px;
    padding-right: 10px;
}
.socials__link {
    color: #909090;
    font-size: 25px;
}
.socials__link:hover {
    color: orange;
}
.social__link-logo {
    padding-left: 5px;
}
.user-entry {
    display: flex;
    height: 38px;
    align-items: center;
}
.user-entry::before {
    content: url("../img/user-logo.png");
    padding-right: 10px;
    width: 20px;
}
.user-entry__field {
    color: #979797;
}


.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

}
.search {
    width: 375px;
    display: flex;
    height: 40px;
}
.search__field {
    width: 304px;
}
.search__btn {
    width: 71px;
    height: 40px;
    background-color: #5b5d6c;
}
.basket {
    position: relative;
    font-weight: bold;
    color: #979797;
}
.basket:before {
    display: block;
    content: '';
    background-image: url(../img/basket2.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 26px;
    position: absolute;
    right: 100%;
    top: 20%;
    color: #979797;
    padding-right: 10px;
    height: 27px;
}
.basket__img {
    position: absolute;
    width: 25px;
    height: 50px;
    left: 100%;
    margin-left: 10px;
}
/* ========= */
/* nav */


.nav {
    height: 50px;
    background: #34343e;
}
.nav__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 0;
}
.nav__items {
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav__links {
    display: block;
    text-transform: uppercase;
    color: white;
}
.nav__items {
    transition: all 0.1s ease 0s;
}
.nav__items:hover {
    background: #464649;
}
.nav__items--border {
    border-right: 1px solid grey;
}

/* ========= */
/* main */
.main {
    margin-bottom: 35px;
}
.slider {
    margin-bottom: 40px;
}
.slider-logo {
    display: flex;
    justify-content: center;
}
.slider-logo__flow {
    width: 470px;
}
.slider-desc {
    flex-basis: 30%;
    display: flex;
    flex-grow: 0.5;
    text-align: center;
}

.slider-desc__title {
    font-size: 36px;
    color: #f29315;
}
.slider-desc__title2 {
    font-size: 25px;
    font-weight: bold;
}
.slider-desc__txt {
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 25px;

}
.slider-desc__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-desc__btn {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    color: #000;
    padding: 12px 15px;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
}
.slider-desc__btn:hover {
    background: #f2f2f2;
}
.discount {
    display: flex;
    justify-content: space-between;
    color: #fefefe;
    font-weight: normal;
    margin-bottom: 30px;
}
.offer-col {
    background: #19181d;
    flex-basis: 32%;
    text-align: left;
    display: flex;
    padding: 10px;
}
.offer-right {
    margin-top: 20px;
}
.offer-col__title {
    font-weight: normal;
}
.offer-left__btn {
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
    margin-bottom: 5px;
}
.shop-title {
    padding-bottom: 15px;
}
.shopping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop-block {
    flex-basis: 21%;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
    text-align: center;
}
.shop-price {
    height: 90px;
}
.shop-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.shop-price__img {
    margin-right: 15px;
    color: orange;
    padding: 5px;
}
.shop-price__basket {
    margin-left: 10px;
}
.shop-price__item {
    color: orange;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.footer {
    color: white;
    background-color: #19181d;
}
.footer-block {
    display: flex;
    justify-content: space-between;
}
.footer-items {
    width: 275px;
}
.footer-nav__links, .footer-items__info {
    padding-left: 0;
    line-height: 1.7;
}
.footer-nav__items {
    list-style: url("../img/arrow.png");
}
.footer-items__title {
    padding: 15px 0;
    border-bottom: 1px solid #5b5d6c;
    color: #5b5d6c;
    font-size: 20px;
    font-weight: bold;
}
.footer-nav {
    padding-left: 15px;
}
.footer-nav__links {
    text-decoration: none;
    color: #fff;
}
.footer-nav__links:hover {
    color: orange;
}
.social-info__link {
    font-size: 25px;
}
.social-info__icon {
    color: white;
    padding-left: 5px;
}
.social-info__icon:hover {
    color: orange;
}
.footer-items {
    flex-basis: 25%;
}
.footer-items__mail {
    color: orange;
}

@media screen and (max-width: 820px) {
    .shop-block {
        flex-basis: 48%;
    }
    .slider-desc {
        flex-basis: 58%;
    }
}
@media screen and (max-width: 653px) {
    .header-bottom {
        flex-direction: column;
    }
    .slider-desc__txt {
        display: none;
    }
    .slider-desc__title2 {
        display: block;
        margin-bottom: 30px;
    }
    .offer-col:nth-last-child(1) {
        display: none;
    }
    .offer-col {
        flex-basis: 48%;
    }
    .footer-items {
        display: none;
    }
    .footer-social {
        text-align: center;
    }
    .footer-block {
        justify-content: center;
    }
}
@media screen and (max-width: 415px) {
    .shop-block {
        flex-basis: 100%;
    }
    .offer-col--hide {
        display: none;
    }
    .offer-col {
        flex-basis: 100%;
    }
    .slider-logo__flow {
        display: none;
    }
    .search {
        width: 100%;
    }
}